<% title "- Editing Cardio" %>
<h1>Editing Cardio</h1>

<%= form_for(@cardio) do |f| %>
  <%= render 'form', f: f %>
<% end %>

<%= link_to 'Show', @exercise %> |
<%= link_to 'Back', cardio_path(@cardio, day: @day_id) %>