<h1>Editing Meal</h1>

<%= form_for(@meal) do |f| %>
  <%= render 'form', f: f %>
<% end %>

<%= link_to 'Show', "/meals/#{@meal.id}?day=#{@day_id}" %> |
<%= link_to 'Back', meal_path(@meal, day: @day_id) %>
