<% title "- Editing Calf Raise/Crunch" %>
<h1>Editing Calf Raise/Crunch</h1>

<%= form_for(@calf_crunch) do |f| %>
  <%= render 'form', f: f %>
<% end %>

<%= link_to 'Show', @calf_crunch %> |
<%= link_to 'Home', root_path %>
