<h1>Editing Super Challenge</h1>

<%= form_for(@super_challenge) do |f| %>
  <%= render 'form', f: f %>
<% end %>

<%= link_to 'Show', "/super_challenges/#{@super_challenge.id}?day=#{@day_id}" %> |
<%= link_to 'Back', super_challenge_path(@super_challenge, day: @day_id) %>